
:root {
  --card-font-color: rgb(39, 39, 39);
}
  * { 
  padding: 0;
  margin: 0;
  font-family: 'Gentium Plus', serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;

}
.sidebar {
  border: solid 1px blue;
  grid-row: 1 / 4;
  background-color: #7dd3fc;
  display: flex;
  flex-direction: column;
}


.sidebar .logo {
  color: #FFFFFF;
  padding: 10px;
  display: flex;
}

.logo > img { 
  padding-right: 20px;
  width: 4rem;
}

.sidebar .menu1,
.sidebar .menu2 {
  flex: 1 1 1;
  display: flex;
  padding-left: 10px;
  padding-top: 50px;
 
}

.menu1 ul,.menu2 ul {
  font-size: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

ul > li{ 
  color: white; 
}

ul .name {
  padding: 0 25px;

}

.header {
  display: flex;
  padding: 10px;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
}

.header .search {
  flex: 2 1 0;
  display: flex;
  align-items: center;
}

.header .search img { 
  padding-left: 10px;
  padding-right: 10px;
}

.header .search #search{
  flex: 1 1 0 ;
  height: 30px;
  background-color:#ced7e3;

  border-style: none;
  border-radius: 20px;
 
}

.header .profile {
  flex: 1 1 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  
}

.profileImage1 {
  width: 25px;
  height: 25px;
  padding-right: 20px;
  align-self: center;
  
}
.profileImage2  { 
  width: 50px;
  height: 50px;
  padding-right: 20px;
}

.profile h2 {
  padding-right: 20px;
  align-self: center;
}

.nav { 
  display: flex;

  
}

.nav .bigprofile {
  flex: 1 1 0;
  position: relative;
  display: flex;
}

.bigprofile .profileImage3 {
  width: 100px;
  height: 100px;
  align-self: center;
  padding-left: 10px;
  border-radius: 10px;
  

}
.smallprofile {
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.nav .buttons {
  flex: 1 1 0;
  align-self: center;
}

.buttons .b-container { 
  display: flex;
  justify-content: space-evenly;
  padding-left: 30px;
}

.buttons .b-container p { 
  color: aliceblue;
  background-color:#7dd3fc;
  padding: 15px 40px;
  border-radius: 20px;
  font-weight:bolder;
  font-size: 20px;
}


.article { 
  grid-column:2/ 3;
  display: grid;
  background-color: #bccbde;
  grid-template-areas:
  "contents contents contents contents contents announcements"
  "contents contents contents contents contents trending";

}

.article .content { 
  display: grid;
  grid-area: contents;
  grid-template-columns: repeat(2, minmax(250px, 100%));
  grid-template-rows: repeat(3, minmax(250px, 100%));
  gap: 25px;
  padding: 40px 40px;
}

.content .card {
  display: grid;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-left: orange 10px solid;
  /* 이거 생각하는데 20분 걸림... */
}

.card div {
  justify-self: end;
}

.card h2{ 
margin-top: 20px;
}

.card p { 
  padding-bottom: 40px;
}

.card img {
  margin-left: 15px;
  padding-right: 10px;
}

.announcements {
  position: relative;
  display: grid;
  grid-area: announcements;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  align-self: center;
}
.announcement-card {
    display: flex;
    flex-wrap: wrap;


}


#noborder {
  border-top: none;
}

.announcements p {
  width: 80%;
  margin-left: 25px;
  text-align: center;
  
}

.announcements h4 {
  border-top: gray 2px solid;
  text-align: center;
  font-size: 20px;
}


.trending {
  position: relative;
  grid-area: trending;
  border-radius: 10px;
  background-color: white;
  margin: 20px;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  padding: 10px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.trending div {
  display: grid;
  position: relative;
  grid-template-columns: min-content 2fr;
  width: 150px;
}
